<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=H1title %></title>
    <link rel="stylesheet" href="/res/style.css">
</head>
<body>
<header>
    <h1><%=H1title %>(Utolsó Királyság)</h1>
    <nav>
        <ul>
            <li><a href="/">Szereplők</a></li>
            <li><a href="/episode-page">Évadok</a></li>
            <li> <a href="/castle-page">Várak</a></li>
        </ul>
        
    </nav>
</header>
<h4>Első évad</h4>
<p>A BBC által készített első sorozat Bernard Cornwell A szász történetek , Az utolsó királyság és a Sápadt lovas című regénysorozatának első két regényét adaptálja . A sorozat a 866–878-as éveket öleli fel, amikor a Guthrum és Ubba Ragnarsson vezette Nagy Pogány Hadsereg Angliába érkezése újradefiniálja a vikingek és az angolszászok kapcsolatát . A dán uralom megalakulását követően Uhtred, a dánok által felnevelt szász a wessexi királyság és uralkodója , Alfréd király segítségére siet abban a reményben, hogy végül visszaszerzi Bebbanburg otthonát, mivel a folyamatos viking betörések megpróbálják meghódítani az egész vidéket. Anglia.</p>
<h4>Második évad</h4>
<p>A második évad Cornwell harmadik és negyedik regényét, az Észak urai és a Karddalt adaptálja . A sorozat a 879–886-os éveket öleli fel, és Uhtred nortumbiai küldetésével foglalkozik, hogy legyőzze régi ellenségét, Kjartant, a Kegyetlent, miközben Wessex és Mercia királysága a megszálló skandináv testvérekkel, Sigefriddel és Eric-kel harcol .</p>
<h4>Harmadik évad</h4>
<p>A harmadik évad Cornwell ötödik és hatodik regényét, Az égő földet és a Királyok halálát adaptálja , bár az előző két évadhoz képest jelentős cselekményváltozások vannak a regényekhez képest. A sorozat a 892–902-es éveket öleli fel, és Alfréd király uralkodásának végét dolgozza fel, miközben a szászok és a dánok közötti konfliktus a második nagy dán hadsereg érkezése után, amelyet a viking hadurak koalíciója vezetett, köztük Ragnar ifjabb, Cnut , Sigurd Bloodhair és Haesten .</p>
<h4>Negyedik évad</h4>
<p>A negyedik évad Cornwell hetedik és nyolcadik regényét, A pogány urat és Az üres trónt adaptálja . A harmadik sorozathoz hasonlóan jelentős cselekményváltozások vannak a regényekhez képest. A sorozat a 909–911-es éveket öleli fel, és Edward király szászok feletti uralkodásának korai éveit , a Merciában zajló politikai harcokat és a második nagy dán hadsereg Wessex elleni folyamatos invázióját, amely Wintanceaster ostromába torkollik .</p>
<h4>Ötödik Évad</h4>
<p>Az ötödik évad Cornwell kilencedik és tizedik, A vihar harcosai és A lánghordozó című regényét adaptálja, és tartalmazza a tizenegyedik , Farkas háborúja című regény elemeit . A harmadik és negyedik sorozathoz hasonlóan jelentős cselekményváltozások vannak a regényekhez képest. A sorozat a 917–920-as éveket öleli fel, és foglalkozik a Wessex és Mercia vitatott utódlási vonalaival, az Uhtred veje, Sigtryggr vezette northumbriai vikingekkel , valamint Uhtred, aki ismét visszatér Bebbanburgba, hogy végre elérje sorsát. .</p>
    
</body>
</html>